body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('body.png'); /* Change the background image URL */
    background-size: cover;
    background-position: center;
    /* Add other background styles as needed */
}
/* Header Styles */
.header {
    background-color: rgba(255,255,255,0.9); /* Green color, you can change it to your preference */
    padding: 20px;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
}

.header-title {
    color: rgba(0,0,0,0.8); /* White color for the title text */
	font-family: Arial black;
   	margin: 0;
	font-size: 50px;
	letter-spacing: 3px;
	text-shadow: 3px 3px 3px grey;
}

.chat-container {
    width: 60%; /* Adjusted width */
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Example background color for the container */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#chat-box {
    height: 700px; /* Example height for the chat box */
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9); /* Example background color for the chat box */
}

.chat-message-container {
    margin-bottom: 10px;
}

.chat-message {
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    max-width: 100%; /* Adjusted width */
}

.user {
    background-color: #f1f0f0; /* Example background color for user messages */
    align-self: flex-start;
}

.bot {
    background-color: #e1f5fe; /* Example background color for bot messages */
    align-self: flex-end;
}


input[type="text"] {
    width: calc(100% - 80px);
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 60px;
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
