body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.chat-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

/* Add this CSS to your existing stylesheet or create a new one */
#chat-box {
    width: 80%;
    height: 80vh;
    overflow-y: auto;
    margin: 0 auto; /* Center the chat container horizontally */
}


.chat-message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

.bot {
    background-color: #f0f0f0;
    text-align: left;
}

.user {
    background-color: #cce6ff;
    text-align: right;
}

input[type="text"] {
    width: calc(100% - 80px);
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 60px;
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
